@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body{
    background: #1D171E !important;
}


.client{
    color: #227FCC;
    background: #052743;
    border-radius: 34px 34px;
    width: 165px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.v{
    color: green;
}

.r{
    color: red;
}
